# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [3]:
import pandas as pd
import numpy as np

# Seu código aqui
anos=[1900,1920,1940,1960,1980,2000,2020]
anos_serie = pd.DataFrame(anos)
anos_serie

      0
0  1900
1  1920
2  1940
3  1960
4  1980
5  2000
6  2020

#### 2) Coloque os anos nos índices conforme a tabela.

In [5]:

# seu código aqui
anomalias = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]
anomalias_com_anos = pd.DataFrame(anomalias, index=anos)
anomalias_com_anos

         0
1900 -0.08
1920 -0.27
1940  0.12
1960 -0.03
1980  0.26
2000  0.40
2020  1.02

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [8]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
temperaturasSeriesDict = pd.Series(dic_temperaturas)
temperaturasSeriesDict

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [10]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
dados = pd.DataFrame(arr)
dados

             0           1           2
0    96.723357   97.612089  111.783604
1    91.945907   93.015671   87.330393
2   105.194174  120.185017  108.185917
3   112.033465   91.515226  106.015854
4    92.283705   83.761394  103.766304
5   107.003929   97.326299   96.401716
6   109.445056  107.638316  104.707802
7   106.272108  116.514600   85.789005
8   102.889273   89.947853   96.167647
9   108.907162   97.595077  108.031209
10  100.913210  120.312683   91.066094
11  105.723788   97.524837   94.401822
12  104.194414  107.451066  101.474077
13  106.984651  110.893786   84.301367
14   87.098941  103.669461   99.299400
15   97.957944  111.939823  104.947263
16  105.231761   80.542200   96.525718
17   98.288042  102.025185   93.379637
18   97.111945   92.458506  110.618610
19   95.501397   73.420445   93.446001

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [12]:
#seu código aqui
dados.index = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
dados.columns = ['x1','x2','x3']
print(dados)

            x1          x2          x3
1    96.723357   97.612089  111.783604
2    91.945907   93.015671   87.330393
3   105.194174  120.185017  108.185917
4   112.033465   91.515226  106.015854
5    92.283705   83.761394  103.766304
6   107.003929   97.326299   96.401716
7   109.445056  107.638316  104.707802
8   106.272108  116.514600   85.789005
9   102.889273   89.947853   96.167647
10  108.907162   97.595077  108.031209
11  100.913210  120.312683   91.066094
12  105.723788   97.524837   94.401822
13  104.194414  107.451066  101.474077
14  106.984651  110.893786   84.301367
15   87.098941  103.669461   99.299400
16   97.957944  111.939823  104.947263
17  105.231761   80.542200   96.525718
18   98.288042  102.025185   93.379637
19   97.111945   92.458506  110.618610
20   95.501397   73.420445   93.446001

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [14]:
# seu código aqui
dados['media']=(dados['x1'] + dados['x2'] + dados['x3'])/3
print(dados)

            x1          x2          x3       media
1    96.723357   97.612089  111.783604  102.039684
2    91.945907   93.015671   87.330393   90.763990
3   105.194174  120.185017  108.185917  111.188369
4   112.033465   91.515226  106.015854  103.188182
5    92.283705   83.761394  103.766304   93.270468
6   107.003929   97.326299   96.401716  100.243981
7   109.445056  107.638316  104.707802  107.263725
8   106.272108  116.514600   85.789005  102.858571
9   102.889273   89.947853   96.167647   96.334925
10  108.907162   97.595077  108.031209  104.844483
11  100.913210  120.312683   91.066094  104.097329
12  105.723788   97.524837   94.401822   99.216816
13  104.194414  107.451066  101.474077  104.373186
14  106.984651  110.893786   84.301367  100.726601
15   87.098941  103.669461   99.299400   96.689267
16   97.957944  111.939823  104.947263  104.948343
17  105.231761   80.542200   96.525718   94.099893
18   98.288042  102.025185   93.379637   97.897621
19   97.111945   92.458506  110.618610  100.063020
20   95.501397   73.420445   93.446001   87.455948

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [16]:
# seu código aqui
dados['log_med'] = np.log(dados['media'])
print(dados)

            x1          x2          x3       media   log_med
1    96.723357   97.612089  111.783604  102.039684  4.625362
2    91.945907   93.015671   87.330393   90.763990  4.508263
3   105.194174  120.185017  108.185917  111.188369  4.711226
4   112.033465   91.515226  106.015854  103.188182  4.636554
5    92.283705   83.761394  103.766304   93.270468  4.535504
6   107.003929   97.326299   96.401716  100.243981  4.607607
7   109.445056  107.638316  104.707802  107.263725  4.675291
8   106.272108  116.514600   85.789005  102.858571  4.633355
9   102.889273   89.947853   96.167647   96.334925  4.567831
10  108.907162   97.595077  108.031209  104.844483  4.652478
11  100.913210  120.312683   91.066094  104.097329  4.645326
12  105.723788   97.524837   94.401822   99.216816  4.597308
13  104.194414  107.451066  101.474077  104.373186  4.647973
14  106.984651  110.893786   84.301367  100.726601  4.612410
15   87.098941  103.669461   99.299400   96.689267  4.571502
16   97.957944  111.939823  104.947263  104.948343  4.653468
17  105.231761   80.542200   96.525718   94.099893  4.544357
18   98.288042  102.025185   93.379637   97.897621  4.583922
19   97.111945   92.458506  110.618610  100.063020  4.605800
20   95.501397   73.420445   93.446001   87.455948  4.471135